/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/libraries/mysql_connector_j_8_0_31.xml
/.idea/codeStyles/Project.xml
/.idea/t3DevaFinancial.iml
/.idea/vcs.xml
